@model SibersProjectsData.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Новый проект</h3>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Имя")
    @Html.EditorFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.Surname, "Фамилия")
    @Html.EditorFor(model => model.Surname)
    <br />
    @Html.LabelFor(model => model.Patronymic, "Отчество")
    @Html.EditorFor(model => model.Patronymic)
    <br />
    @Html.LabelFor(model => model.Email, "Электронный адрес")
    @Html.EditorFor(model => model.Email)
    <br />
    <input type="submit" value="Добавить" />
}